var isInArray = function (v, a) {
  if (a) {
    for (var i = 0; i < a.length; i++) {
      if (v == a[i]) return true
    }
  }
  return false
}

var isInArray2 = function (v, a) {
  if (a) {
    for (var i = 0; i < a.length; i++) {
      if (v == a[i].openid) return true
    }
  }
  return false
}

var abbreviation = function (value) {
  if (value.length > 75) {
    return value.slice(0, 75) + '...'
  } else {
    return value
  }
}

var int = function (score) {
  var value = score * 100000000;
  return value.toFixed(2);
}


function extendZero(num) {
  if (num > 9) return num;
  return '0' + num;
}

var timeString = function (time, isFull = false) {
  if (time == null || time == 0) return '';
  var now = getDate();
  var date = getDate(time);
  if (!isFull) {
    var t1 = now.getTime();
    var t2 = time;
    var d = (t1 - t2) / 1000;

    if (d < 30) return "刚刚";
    else if (d < 60) return (parseInt(d) + " 秒前");
    else if (d < 60 * 60) return (parseInt(d / 60) + " 分钟前");
    else if (d < 60 * 60 * 24) return (parseInt(d / 60 / 60) + " 小时前");
    else if (d < 60 * 60 * 24 * 2) return "昨天";
    else if (d < 60 * 60 * 24 * 3) return "前天";
    else if (d < 60 * 60 * 24 * 30) return (parseInt(d / 60 / 60 / 24) + " 天前");
    else if (date.getFullYear() == now.getFullYear()) {
      var M = extendZero(date.getMonth() + 1) + '-';
      var D = extendZero(date.getDate());
      return M + D;
    }
    else {
      var Y = date.getFullYear() - 2000 + '-';
      var M = extendZero(date.getMonth() + 1) + '-';
      var D = extendZero(date.getDate());
      return Y + M + D;
    }
  } else {
    if (date.getFullYear() == now.getFullYear()) {
      var M = extendZero(date.getMonth() + 1) + '-';
      var D = extendZero(date.getDate()) + ' ';
      var h = extendZero(date.getHours()) + ':';
      var m = extendZero(date.getMinutes());
      return M + D + h + m;
    }
    else {
      var Y = date.getFullYear() - 2000 + '-';
      var M = extendZero(date.getMonth() + 1) + '-';
      var D = extendZero(date.getDate()) + ' ';
      var h = extendZero(date.getHours()) + ':';
      var m = extendZero(date.getMinutes());
      return Y + M + D + h + m;
    }
  }
}

module.exports = {
  abbreviation: abbreviation,
  timeString: timeString,
  int: int,
  isInArray: isInArray,
  isInArray2: isInArray2
}